USE [master]
GO
/****** Object:  Database [POS]    Script Date: 8/1/2017 4:01:34 AM ******/
CREATE DATABASE [POS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\POS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\POS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS]
GO
USE [POS]
GO
/****** Object:  User [POSUser]    Script Date: 8/1/2017 4:01:34 AM ******/
CREATE USER [POSUser] FOR LOGIN [POSUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [POSUser]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [POSUser]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [POSUser]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [POSUser]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [POSUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [POSUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [POSUser]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [POSUser]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [POSUser]
GO
/****** Object:  Table [dbo].[menuitems]    Script Date: 8/1/2017 4:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menuitems](
	[ListIndex] [int] NOT NULL,
	[Product] [varchar](max) NOT NULL,
	[Price] [varchar](max) NOT NULL,
	[ProductType] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 8/1/2017 4:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[Prices] [varchar](max) NOT NULL,
	[Products] [varchar](max) NOT NULL,
	[ProductTypes] [varchar](max) NOT NULL,
	[Quantities] [varchar](max) NOT NULL,
	[Subtotal] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF__orders__Date__22AA2996]  DEFAULT (getdate()) FOR [Date]
GO
/****** Object:  StoredProcedure [dbo].[spRecordOrder]    Script Date: 8/1/2017 4:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRecordOrder]
@Prices VARCHAR(MAX),
@Products VARCHAR(MAX),
@ProductTypes VARCHAR(MAX),
@Quantities VARCHAR(MAX),
@Subtotal FLOAT,
@Total FLOAT
AS
INSERT INTO dbo.orders (Prices, Products, ProductTypes, Quantities, Subtotal, Total)
VALUES (@Prices, @Products, @ProductTypes, @Quantities, @Subtotal, @Total);
GO
USE [master]
GO
